@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
:root {
  --border: #e2cff9;
  --primary:#996cf4;
  --navbr-hover:#37c54c;
  --light: #bcf0f5;
  --border-2: #c1e1c3;
  --text: #bdf9cbd4;
  --dark-background:#090411d4;
  --text-input:#241045d4;
}

body {
  background-color: var(--dark-background);
}

input, textarea, select{
  background-color: var(--text-input);
}
/* base styles */
* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: var(--text);
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid var(--border);
}

h1{
  color: var(--primary);
}

.navbar h1 {
  color: var(--primary);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--navbr-hover)
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  /* border-bottom: 1px solid var(--border-2); */
  box-shadow: 0px 1px 3px var(--text);
}
.blog-preview:hover {
  box-shadow: 2px 3px 5px var(--text);
}
.blog-preview h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 8px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: var(--primary);
  color: var(--light);
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid var(--border);
  box-sizing: border-box;
  display: block;
}
.create button {
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}